# Big Bench

In [ ]:
!pip install "bigbench @ https://storage.googleapis.com/public_research_data/bigbench/bigbench-0.0.1.tar.gz" -q

In [ ]:
!pip install dspy datasets python-Levenshtein -q

In [98]:
import os
import pandas as pd
from datasets import load_dataset
import dspy
import Levenshtein
import random
from openai import OpenAI
client = OpenAI()

In [381]:
ds = load_dataset("google/bigbench", "conlang_translation")["default"]
examples = [dspy.Example({"question": r["inputs"], "options": r["multiple_choice_targets"], "answer":r['targets']}).with_inputs("question","options") for r in ds]
print(f"There are {len(examples)} examples.")
trainset = random.sample(examples, 3)
valset = [i for i in examples if i not in trainset]

There are 164 examples.

In [382]:
examples[1]

Example({'question': 'The following are sentences in Adna and their English translations:\n\nADNA: Ndengi ngase.\nENGLISH TRANSLATION: He drinks water.\nADNA: Ngoru ndatab ndengi ngase.\nENGLISH TRANSLATION: The child keeps drinking water.\nADNA: Ngoru ndabgu.\nENGLISH TRANSLATION: The child grows.\nADNA: Ngoru ndatab ndangalan.\nENGLISH TRANSLATION: The child keeps crawling.\nADNA: Ndimbi ndamba.\nENGLISH TRANSLATION: He runs here.\nADNA: Ndavera Ambandate ndisbo.\nENGLISH TRANSLATION: He pulls Ambandate down.\nADNA: Ambandate ndisbo.\nENGLISH TRANSLATION: Ambandate goes down.\nADNA: Ndekaselib luta ndaksay.\nENGLISH TRANSLATION: He carries the axe up.\nADNA: Ndalbande ngase ndamba.\nENGLISH TRANSLATION: He brings water.\nADNA: Kansasres ndimbi ndaksay.\nENGLISH TRANSLATION: The teacher runs up.\nADNA: Ngase ndimbi.\nENGLISH TRANSLATION: The water runs.\nADNA: Ambandate ndokami.\nENGLISH TRANSLATION: Ambandate eats.\nADNA: Ndekaselib tebu.\nENGLISH TRANSLATION: He carries taro.\nADNA: Ndahadal.\nENGLISH TRANSLATION: He walks.\nADNA: Ndalbande kubutsu.\nENGLISH TRANSLATION: He brings the palm tree.\n\n\nNow, translate the following from Adna to English: \nADNA: Ngase ndimbi ndisbo.\nENGLISH TRANSLATION:', 'options': [], 'answer': ['The water runs down.']}) (input_keys={'question', 'options'})

In [383]:
lm = dspy.OpenAI(model="gpt-4o-2024-05-13")
dspy.settings.configure(lm=lm)

In [384]:
def custom_format_handler(value):
    if isinstance(value, list):
        return ' | '.join(map(str, value))
        #return value[-1]
    return value

In [386]:
class CoTSignature(dspy.Signature):
    """You are a translator. Only produce the required translation answer."""
    question = dspy.InputField()
    #options = dspy.InputField(format=custom_format_handler)
    answer = dspy.OutputField(format=custom_format_handler)

In [387]:
simple_predict = dspy.Predict(CoTSignature)

In [388]:
class CoT(dspy.Module):
    def __init__(self):
        super().__init__()
        self.signature = CoTSignature
        self.predictor = dspy.ChainOfThought(self.signature)
    def forward(self, question, options):
      result = self.predictor(lm=lm,question=question, options=options)
      return dspy.Prediction(answer=result.answer)

In [389]:
cot_module = CoT()
test_q = examples[74]
prediction = cot_module.forward(question=test_q.question, options=test_q.options)
print(f"Sense: {prediction.answer}")

Sense: Question: Now, translate the following from English to Holuan: ENGLISH: nineteen people
Reasoning: Let's think step by step in order to produce the answer. We need to identify the Holuan words for "nineteen" and "people." From the given sentences, we know that "three people" is "bame ęg jog" and "nine

In [390]:
simple_predict(question=test_q.question, options=test_q.options)

Prediction(
    answer='mlsea ęg jog'
)

In [391]:
def wsd_metric(example, pred, trace=None, threshold=0.90):
    """Metric function for word sense disambiguation with Levenshtein distance."""
    gold_sense = example.answer[0]
    predicted_sense = pred.answer

    # Calculate Levenshtein similarity
    similarity = Levenshtein.ratio(gold_sense.lower(), predicted_sense.lower())

    # Check if similarity exceeds the threshold
    return int(similarity >= threshold)

In [392]:
from dspy.teleprompt import BootstrapFewShot

# Set up the optimizer: we want to "bootstrap" (i.e., self-generate) 4-shot examples of our CoT program.
config = dict(max_bootstrapped_demos=0, max_labeled_demos=3)

# Optimize! Use the `gsm8k_metric` here. In general, the metric is going to tell the optimizer how well it's doing.
teleprompter = BootstrapFewShot(metric=wsd_metric, **config)
optimized_cot = teleprompter.compile(CoT(), trainset=trainset)

  0%|          | 0/3 [00:00<?, ?it/s]

Bootstrapped 0 full traces after 1 examples in round 0.

In [393]:
optimized_cot.forward(question=test_q.question, options=test_q.options)

Prediction(
    answer='mlsea ęg jog'
)

In [394]:
lm.inspect_history(1)

You are a translator. Only produce the required translation answer.

---

Follow the following format.

Question: ${question}
Reasoning: Let's think step by step in order to ${produce the answer}. We ...
Answer: ${answer}

---

Question: The following are sentences in Adna and their English translations: ADNA: Ndengi ngase. ENGLISH TRANSLATION: He drinks water. ADNA: Ngoru ndatab ndengi ngase. ENGLISH TRANSLATION: The child keeps drinking water. ADNA: Ngoru ndabgu. ENGLISH TRANSLATION: The child grows. ADNA: Ngoru ndatab ndangalan. ENGLISH TRANSLATION: The child keeps crawling. ADNA: Ndimbi ndamba. ENGLISH TRANSLATION: He runs here. ADNA: Ndavera Ambandate ndisbo. ENGLISH TRANSLATION: He pulls Ambandate down. ADNA: Ambandate ndisbo. ENGLISH TRANSLATION: Ambandate goes down. ADNA: Ndekaselib luta ndaksay. ENGLISH TRANSLATION: He carries the axe up. ADNA: Ndalbande ngase ndamba. ENGLISH TRANSLATION: He brings water. ADNA: Kansasres ndimbi ndaksay. ENGLISH TRANSLATION: The teacher runs up. ADNA: Ngase ndimbi. ENGLISH TRANSLATION: The water runs. ADNA: Ambandate ndokami. ENGLISH TRANSLATION: Ambandate eats. ADNA: Ndekaselib tebu. ENGLISH TRANSLATION: He carries taro. ADNA: Ndahadal. ENGLISH TRANSLATION: He walks. ADNA: Ndalbande kubutsu. ENGLISH TRANSLATION: He brings the palm tree. Now, translate the following from Adna to English: ADNA: Ngase ndimbi ndisbo. ENGLISH TRANSLATION:
Answer: The water runs down.

Question: The following are sentences in Holuan and their English translations: HOLUAN: asi ęg piog ENGLISH TRANSLATION: two months HOLUAN: ame ęg tomt ENGLISH TRANSLATION: three days HOLUAN: bame ęg jog ENGLISH TRANSLATION: three people HOLUAN: mlrolam ęg lamk ENGLISH TRANSLATION: six pigs HOLUAN: baom ęg sensei ENGLISH TRANSLATION: five teachers HOLUAN: aom ęg neb ENGLISH TRANSLATION: five years HOLUAN: asea ęg mlębęto ENGLISH TRANSLATION: nine afternoons HOLUAN: mlsea ęg heb ENGLISH TRANSLATION: nine scrolls HOLUAN: mlrolam ęg giot ENGLISH TRANSLATION: six papayas HOLUAN: baeo ęg mtolęb ENGLISH TRANSLATION: eight children HOLUAN: tęmoaj na o bame ęg piok ENGLISH TRANSLATION: thirteen boys HOLUAN: tęmoaj na o aiot ęg tilang ENGLISH TRANSLATION: seventeen hours HOLUAN: udesi ęg piog ENGLISH TRANSLATION: February HOLUAN: udeme ęg oboer ENGLISH TRANSLATION: Wednesday Now, translate the following from Holuan to English: HOLUAN: mlsi ęg giot ENGLISH TRANSLATION:
Answer: two papayas

Question: The following are sentences in Vaomi and their English translations: VAOMI: Hehkan er byhsa. ENGLISH TRANSLATION: They have a cat. VAOMI: Kaova er vantama. ENGLISH TRANSLATION: The dog is white. VAOMI: Selahka er sydna. ENGLISH TRANSLATION: You (sg.) are cold. VAOMI: Mela eran vaomas. ENGLISH TRANSLATION: I am beautiful. VAOMI: Satka byhsa er vihkin. ENGLISH TRANSLATION: The funny cat is a viking. VAOMI: Hao ehkat satka. ENGLISH TRANSLATION: They are funny. VAOMI: Vantama vahlo er maikav. ENGLISH TRANSLATION: The white wizard is kind. VAOMI: Mehkan er ymao. ENGLISH TRANSLATION: We are thirsty. VAOMI: Mao erme vihya. ENGLISH TRANSLATION: We are green. VAOMI: Sehkan er setima kaova. ENGLISH TRANSLATION: You (pl.) have a blue dog. VAOMI: Hehkan er tuhva. ENGLISH TRANSLATION: They are hot. VAOMI: Sela erat vahlo. ENGLISH TRANSLATION: You (sg.) are a wizard. VAOMI: Tao erte setima. ENGLISH TRANSLATION: You (pl.) are blue. VAOMI: Sehkan er nerta. ENGLISH TRANSLATION: You (pl.) are hungry. Now, translate the following from Vaomi to English: VAOMI: Mao erme vaomas. ENGLISH TRANSLATION:
Answer: We are beautiful.

Question: The following are sentences in Holuan and their English translations: HOLUAN: asi ęg piog ENGLISH TRANSLATION: two months HOLUAN: ame ęg tomt ENGLISH TRANSLATION: three days HOLUAN: bame ęg jog ENGLISH TRANSLATION: three people HOLUAN: mlrolam ęg lamk ENGLISH TRANSLATION: six pigs HOLUAN: baom ęg sensei ENGLISH TRANSLATION: five teachers HOLUAN: aom ęg neb ENGLISH TRANSLATION: five years HOLUAN: asea ęg mlębęto ENGLISH TRANSLATION: nine afternoons HOLUAN: mlsea ęg heb ENGLISH TRANSLATION: nine scrolls HOLUAN: mlrolam ęg giot ENGLISH TRANSLATION: six papayas HOLUAN: baeo ęg mtolęb ENGLISH TRANSLATION: eight children HOLUAN: tęmoaj na o bame ęg piok ENGLISH TRANSLATION: thirteen boys HOLUAN: tęmoaj na o aiot ęg tilang ENGLISH TRANSLATION: seventeen hours HOLUAN: udesi ęg piog ENGLISH TRANSLATION: February HOLUAN: udeme ęg oboer ENGLISH TRANSLATION: Wednesday Now, translate the following from English to Holuan: ENGLISH: nineteen people HOLUAN TRANSLATION:
Reasoning: Let's think step by step in order to Answer: mlsea ęg jog
Answer: mlsea ęg jog

In [395]:
examples[74]['answer']

['tęmoaj na o basea ęg jog']

In [396]:
from dspy.evaluate import Evaluate

# Set up the evaluator, which can be re-used in your code.
evaluator = Evaluate(devset=valset, num_threads=2, display_progress=True, display_table=20,return_outputs=True)

# Launch evaluation.
evaluation_score, outputs = evaluator(optimized_cot, metric=wsd_metric)

Average Metric: 80 / 161  (49.7): 100%|██████████| 161/161 [01:43<00:00,  1.56it/s]

Average Metric: 80 / 161  (49.7%)

In [397]:
evaluation_score

49.69

In [398]:
outputs = pd.DataFrame(outputs)

In [399]:
outputs.columns = ['problem','response','result']

In [401]:
outputs.to_json('conlang_translation_GPT_4o_3_shot_results.json',orient='records')